@model IEnumerable<AdministrativeModul.ViewModels.VMVideo>
@foreach (var item in Model)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreatedAt)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @{
                var genreId = item.GenreId;
                var genres = ViewBag.Genres as Dictionary<int, string>;
                var genreName = genres != null && genres.ContainsKey(genreId) ? genres[genreId] : "Unknown";
            }
            @genreName
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TotalSeconds)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StreamingUrl)
        </td>
        <td style="white-space: nowrap">
            <button class="btn btn-success mr-2" onclick="location.href='@Url.Action("Edit", new {id=item.Id})'">Edit</button>
            <button class="btn btn-primary mr-2" onclick="location.href='@Url.Action("Details", new {id=item.Id})'">Details</button>
            <button class="btn btn-danger " onclick="location.href='@Url.Action("Delete",  new {id=item.Id})'">Delete</button>
        </td>
    </tr>
}
