@model IEnumerable<AdministrativeModul.ViewModels.VMCountry>
@{
    var page = (int)ViewData["page"];
    var size = (int)ViewData["size"];
    var orderBy = (string)ViewData["orderBy"];
    var direction = (string)ViewData["direction"];
    var pages = (int)ViewData["pages"];
}
<h1>Country</h1>
<p><a asp-action="Create" class="btn btn-primary">Create New</a></p>

<div class="btn-group">
    @for (var i = 0; i <= pages; i++)
    {
        var currClass = page == i ? "btn-primary" : "btn-outline-primary";
        <a asp-action="CountryTable"
       asp-route-page="@i"
           data-page="@i"
           class="pager-btn btn @currClass">@(i + 1)</a>
    }
</div>

<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Id)</th>
            <th>@Html.DisplayNameFor(model => model.Code)</th>
            <th>@Html.DisplayNameFor(model => model.Name)</th>
        </tr>
    </thead>
    <tbody id="country-table-body"><partial name="_CountryTable" /></tbody>
</table>

@section Scripts {
    <script>
        $(".pager-btn").click(function (event) {
            event.preventDefault();

            var page = $(this).data("page");

            var ajaxData = {
                page: page,
                size: @size,
                orderBy: "@orderBy",
                direction: "@direction"
            };

            $.ajax({
                type: "GET",
                url: "/Country/CountryTable",
                data: ajaxData,
                success: function (data) {
                    $("#country-table-body").html(data);

                    $(".pager-btn").removeClass("btn-primary");
                    $(".pager-btn").addClass("btn-outline-primary");
                    $(".pager-btn[data-page=" + page + "]").removeClass("btn-outline-primary");
                    $(".pager-btn[data-page=" + page + "]").addClass("btn-primary");
                },
                error: function (data) {
                    console.error("Ajax GET error", data);
                }
            });
        });
    </script>
}
